@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

header {
    position: sticky;
    top: 0;
    z-index: 100;

    nav{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        background-color: $nav-backround-color;
        border-radius: 0 0 4vh 4vh;
        
        a {
            font-family: Arial, Helvetica, sans-serif;
            margin: 1vh;
            background-color: transparent;
            transition: transform 1s ease, 
            background-color 1s ease;
        }
    
        a:hover {
            background-color: $button-hover-color;
            transform: $elevar-boton;
        }

        a:active {
            background-color: $button-active-color;
        }
    }

    h1 {
        font-family: "Knewave", system-ui;
        font-weight: 400;
        color: #1C4D8D;
        position: absolute;
        z-index: 101;
        top: 2vh;
        left: 2vw;

    }

    .nav-link {
        font-weight: 600;
        color: #0258c9;
        padding: 1vh 2vw;
        border-radius: 1vh;
        background-color: transparent;
        transition: transform 0.3s ease, background-color 0.3s ease;

        .nav-link:hover {
            background-color: $button-hover-color;
            transform: $elevar-boton;
        }

        .nav-link:active {
            background-color: $button-active-color;
        }
    }
}