@use "../utilities/variables" as *;

.main-index-section-title {
    font-weight: 600;
    margin-top: 2vh;
    margin-bottom: 3vh;
    text-align: center;
    background-color: $button-color;
    padding: 2vh;
    color: $color-fondo;
    width: 70vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5vh;
}