@use "variables" as *;

@mixin img-about{
    width: 300px;
    border-radius: 20vh;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2vh;
}

@mixin align-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin elevar-boton-transition{
    transition: transform 0.3s ease, 
    background-color 0.3s ease, 
    color 0.2s ease;
    background-color: #4988C4;
}

@mixin main-section-title-wiskito {

    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: rgb(208, 141, 8);
    height: 100vh;
    width: 100%;
    padding-top: 3vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url('../img/wiskito-background.png') center / cover no-repeat;
    z-index: -1;
    border-radius: 50vh;
    margin-top: 20vh;
    width: 80%;
    justify-self: center;
  }
}

@mixin main-section-title-rodrigo{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: rgb(64, 64, 63);
    height: 100vh;
    width: 100%;
    padding-top: 3vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url('../img/rodrigo-background.png') center / cover no-repeat;
    z-index: -1;
    border-radius: 50vh;
    margin-top: 20vh;
    width: 80%;
    justify-self: center;
    }
}

@mixin main-section-title-gerardo{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: rgb(179, 156, 109);
    height: 100vh;
    width: 100%;
    padding-top: 3vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url('../img/gerardo-background.png') center / cover no-repeat;
    z-index: -1;
    border-radius: 50vh;
    margin-top: 20vh;
    width: 80%;
    justify-self: center;
  }
}

@mixin main-section-title-norberto{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: rgb(134, 126, 126);
    height: 100vh;
    width: 100%;
    padding-top: 3vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url('../img/norberto-background.png') center / cover no-repeat;
    z-index: -1;
    border-radius: 50vh;
    margin-top: 20vh;
    width: 80%;
    justify-self: center;
  }
}

@mixin main-section-title-us{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: $backround-structure-color;
    height: 100vh;
    width: 100%;
    text-shadow: 3px 3px 4px black;
    margin-top: 3vh;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url('../img/us-background.png') center / cover no-repeat;
    z-index: -1;
    border-radius: 50vh;
    margin-top: 20vh;
    width: 100%;
    justify-self: center;
  }
}