$color-fondo: #F0F8FF;
$color-texto: #333333;
$button-color: #4988C4;
$button-hover-color: #1d8eff;
$button-active-color: #0258c9;
$elevar-boton: translateY(-6px);
$nav-backround-color: #BDE8F5;
$structure-cards-color: #ffaa4e;
$backround-structure-color: #ffa600;