@use "../utilities/variables" as *;

.cat-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2vh;
    margin: 10vh 0;
}

.custom-cards {
    background-color: $structure-cards-color;
    border: 1px solid $button-color;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 4vh;
}

.card-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin-bottom: 2vh;
    color: $button-active-color;
}

.card-info{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #333333;
}