@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.form-title{
    font-weight: 600;
    margin-bottom: 4vh;
    color: $button-active-color;
}

form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    gap: 1.5vh;
    border-radius: 2vh;
    padding: 2vh;
    background-color: $backround-structure-color;
    border: 1px solid #848484;
}

.form-button {
    background-color: $button-color;
    color: white;
    padding: 0.8vh 1.5vw;
    border: none;
    border-radius: 1vh;
    font-size: 1rem;
    @include elevar-boton-transition;

    &:hover {
        background-color: $button-hover-color;
        transform: $elevar-boton;
    }

    &:active {
        background-color: $button-active-color !important;
    }
}